@model DataAccessLayer.Models.MonthlyExpenditure

@{
    IEnumerable<DataAccessLayer.Models.SplitwiseUser> Users = (List<DataAccessLayer.Models.SplitwiseUser>)ViewData["ListOfUserEdit"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />   
   
    @Scripts.Render("~/bundles/MYJBundle")
    
    <script type="text/javascript">
        $(window).load(function () {          
                
                $('#DateBought').datepicker()
            
        });
    </script>
    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>MonthlyExpenditure</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ExpID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ExpID)
                @Html.ValidationMessageFor(model => model.ExpID)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Item)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Item)
                @Html.ValidationMessageFor(model => model.Item)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.DateBought)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DateBought)
                @Html.ValidationMessageFor(model => model.DateBought)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Price)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.UserId)
            </div>
            <div class="editor-field">
                
                @Html.DisplayFor(model => model.UserId)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.SharedWith)
            </div>
            <div class="editor-field">
                
                    
                    @Html.Partial("ListOfUserCheckBox", Users)
                
            </div>
    
            <p>
                <input type="submit" value="Save" id="Save"/>
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Welcome")
    </div>
</body>
</html>
